<div>
  <ul>
    <li><a (click)="goToPatientsManagement()">Zarządzanie pacjentami</a></li>
    <li><a (click)="goToProjectsManagement()">Zarządzanie projektami</a></li>
    <li><a (click)="goToResearchCommisioning()">Zleć badanie</a></li>
    <li><a (click)="goToResearchResults()">Wyniki badań</a></li>
    <li><a (click)="goToSummary()">Podsumowanie</a></li>
  </ul>
</div>
<div>
  <small>Ilość Pacjentów: {{ patientsCounter }}</small>
  <small>Ilość Projektów: {{ projectsCounter }}</small>
  <small>Ilość Badań: {{ researchCounter }}</small>
</div>

