<div>
  <ul>
    <li><a>Zarządzanie pacjentami</a></li>
    <li><a>Zarządzanie projektami</a></li>
    <li><a>Zleć badanie</a></li>
    <li><a>Wyniki badań</a></li>
    <li><a>Podsumowanie</a></li>
  </ul>
</div>

<div>
  <table>
    <tr>
      <td>Imię</td>
      <td>Nazwisko</td>
      <td>Pesel</td>
      <td>Miejscowość</td>
      <td>Kod Pocztowy</td>
      <td>Ulica</td>
      <td>Nr domu</td>
    </tr>
    <tr>
      <td>{{ patients.name }}</td>
      <td>{{ patients.surname }}</td>
      <td>{{ patients.pesel }}</td>
      <td>{{ patients.city }}</td>
      <td>{{ patients.postalCode }}</td>
      <td>{{ patients.street }}</td>
      <td>{{ patients.homeNumber }}</td>
    </tr>
  </table>
</div>

<div>stwórz nowego pacjenta</div>
