<div>
  <ul>
    <li><a (click)="goToPatientsManagement()">Zarządzanie pacjentami</a></li>
    <li><a (click)="goToProjectsManagement()">Zarządzanie projektami</a></li>
    <li><a (click)="goToResearchCommisioning()">Zleć badanie</a></li>
    <li><a (click)="goToResearchResults()">Wyniki badań</a></li>
    <li><a (click)="goToSummary()">Podsumowanie</a></li>
  </ul>
</div>

<div class="global">
  <div class="test-form input">
    <form #formEl #patientForm="ngForm">
      <br />
      Imię <input name="name" minlength="3" required ngModel />
      <br />
      Nazwisko <input name="surname" minlength="3" required ngModel />
      <br />
      Pesel<input
        name="pesel"
        required
        #peselModel="ngModel"
        pattern="^\d{11}$"
        ngModel
      />
      <p *ngIf="peselModel.touched && peselModel.invalid">Niewłaściwy pesel!</p>
      <p *ngIf="peselModel === patientForm.form.value.pesel">
        Pacjent o podanym numerze pesel już istnieje
      </p>
      <br />
      Miejscowość <input name="city" required ngModel />
      <br />
      Kod pocztowy<input
        name="postalCode"
        required
        #postalCodeModel="ngModel"
        pattern="\d{2}-\d{3}"
        ngModel
      />
      <p *ngIf="postalCodeModel.touched && postalCodeModel.invalid">
        Niewłaściwy kod pocztowy
      </p>
      <br />
      Ulica <input name="street" required ngModel />
      <br />
      Nr domu <input name="homeNumber" required ngModel />
      <br />
      Zgoda na badania<input
        name="consent"
        #consentModel="ngModel"
        ngModel
        type="checkbox"
      />
      <br />

      <button
        [disabled]="patientForm.valid === false"
        (click)="add(patientForm)"
      >
        Dodaj pacjenta
      </button>
    </form>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Imię</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
        <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="pesel">
        <th mat-header-cell *matHeaderCellDef>Pesel</th>
        <td mat-cell *matCellDef="let element">{{ element.pesel }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>Miejscowość</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef>Kod pocztowy</th>
        <td mat-cell *matCellDef="let element">{{ element.postalCode }}</td>
      </ng-container>

      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef>Ulica</th>
        <td mat-cell *matCellDef="let element">{{ element.street }}</td>
      </ng-container>

      <ng-container matColumnDef="homeNumber">
        <th mat-header-cell *matHeaderCellDef>Nr domu</th>
        <td mat-cell *matCellDef="let element">{{ element.homeNumber }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
