<div>
    <ul>
      <li><a (click)="goToPatientsManagement()">Zarządzanie pacjentami</a></li>
      <li><a (click)="goToProjectsManagement()">Zarządzanie projektami</a></li>
      <li><a (click)="goToResearchCommisioning()">Zleć badanie</a></li>
      <li><a (click)="goToResearchResults()">Wyniki badań</a></li>
      <li><a (click)="goToSummary()">Podsumowanie</a></li>
    </ul>
  </div>

  <div clas="test-form input">
    <form #formEl #projectForm="ngForm">
    <br/>
    Wprowadź oznaczenie nowego projektu <input 
    name="name"
    required
    #nameModel="ngModel"
    ngModel/>
    <p *ngIf= "nameModel === projectForm.form.value.name">Projekt o podanej nazwie już istnieje</p>
    <br/>  
  <button
    [disabled]="projectForm.valid === false" 
    (click)="addNewProject(projectForm)"
    >Dodaj nowy projekt</button>
  </form>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nazwa projektu</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="research">
        <th mat-header-cell *matHeaderCellDef>Przeprowadzone badania</th>
        <td mat-cell *matCellDef="let element">{{ element.research.id }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


  
  
  
  

  